*{
    font-family: "Roboto", sans-serif; 
}


.display{
    display: inline-block;
}

header nav{
    position: relative;
}

/* .aligne{
    position: absolute;
} */


header nav ul{
    position: absolute;
    right: 0px;
    padding: 0px;
}

header nav ul li{
    margin-right: 20px;
}

#inventore {
    color: rgb(173, 34, 141);
}

/* #image:hover{
    width: 30%;
    height: 30%;
} */

/* début de Style de exercise.html */
.big-box{
    margin: auto;
    display: flex;
    height: 400px;  
    width: 500px;
    background-color: rgb(70, 68, 68);
}

p+a{
    
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffff;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(68, 174, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}

p+a:hover{
    background: rgba(68, 174, 139, 0.742);
    border: 1px solid rgb(68, 174, 139);
    color: rgb(255, 255, 255);
}



.box{
    width: 80px;
    height: 50px;
}

.box1{
    background-color: navajowhite;
}

.box2{
    background-color: rgb(174, 113, 22);
}

.box3{
    background-color: rgb(35, 72, 197);
}

.box4{
    background-color: rgb(69, 204, 82);
}

.box5{
    background-color: rgb(211, 130, 9);
}

.box6{
    background-color: rgb(124, 13, 100);
}

.box7{
    background-color: rgb(186, 172, 19);
}

.box8{
    background-color: navajowhite;
}

/* fin de Style de exercise.html */
